:root {
	--primary-color: #f7931a; /*Bitcoin orange*/
	--primary-soft-color: #ffe9d5;
	--secundary-color: #201e1c;
	/* --secundary-soft-color: #808080; */
	--secundary-soft-color: #282623;
	--blue-color: #1a9af7;
	--blue-soft-color: #e7f5ff;
	--grey-color: #757575;
	--light-grey-color: #B5B0AC;
	--light-background-color: #faf8f7;
	--light-color: #fff;

    --font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	font-size: 62.5%;
	font-family: var(--font-sans);
}

.header {
	align-items: center;
	background: linear-gradient(207.8deg, var(--secundary-color) 16.69%, var(--primary-color) 100%);
	color: var(--light-color);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 334px;
	min-width: 320px;
	text-align: center;
	width: 100%;
}

.header__img {
	align-self: center;
	height: 24px;
	margin-top: 60px;
	width: 150px;
}

.title-container {
	align-self: center;
	margin-top: 40px;
	max-width: 900px;
	min-width: 288px;
	width: 90%;
}

.title-container--header {
	height: 218px;
}

.title {
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	text-align: center;
}

.subtile {
	color: var(--primary-soft-color);
	font-size: 1.4rem;
	font-style: normal;
	line-height: 1.8rem;
	margin: 25px 0;
	text-align: center;
}

.header__button {
	position: absolute;
	left: calc(50% - 115px);
	top: calc(100% - 24px);
	padding: 15px;
	width: 229px;
	height: 48px;
	background-color: var(--light-background-color);
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	border-radius: 5px;
	color: var(--secundary-color);
	display: block;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
}

.header__button span {
	display: inline-block;
	height: 8px;
	width: 13px;
	margin-left: 10px;
	background-image: url(./assets/icons/down-arrow.svg);
}

main {
	min-width: 320px;
	height: auto;
	width: 100%;
}

/*** Exchange section styles ***/
.exchange {
	background-color: var(--light-background-color);
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 320px;
	text-align: center;
	width: 100%;
}

.backgnd-img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.exchange__img {
	background-image: url(./assets/imgs/bitcoin.svg);
	margin: 20px auto;
	height: 200px;
	width: 100%;
}

.exchange p {
	color: var(--grey-color);
}

.coins-and-fees {
	display: grid;
	grid-template-columns: 95% 5%;
    /* position: relative;
    overflow: scroll;
	white-space: nowrap; */
}

/* .coins-section,
.fees-section {
	display: inline-block;
	overflow: hidden;
	position: relative;
} */

.coins__title {
	color: var(--primary-color);
	font-size: 1.8rem;
}

.fees__title {
	color: var(--blue-color);
	font-size: 1.8rem;
}

.table {
	background-color: var(--light-color);
	border-radius: 16px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 15px auto;
	max-width: 300px;
	min-width: 235px;
	width: 80%;
}

.table__item {
	border-right: 2px solid var(--light-background-color);
	border-bottom: 2px solid var(--light-background-color);
	color: var(--light-grey-color);
	font-family: var(--font-inter);
	font-size: 1.6rem;
	line-height: 17px;
	padding: 15px;
	text-align: left;
}

.item--price {
	color: var(--grey-color);
	font-size: 1.4rem;
	font-weight: normal;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.tendency {
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	height: 15px;
	width: 15px;
}

.tendency--up {
	background-image: url(./assets/icons/trending-up.svg);
}

.tendency--down {
	background-image: url(./assets/icons/trending-down.svg);
}

.table__last-update {
	background-color: var(--primary-soft-color);
	border-radius: 8px;
	color: var(--grey-color);
	font-size: 1.2rem;
	margin: 0 auto;
	padding: 8px;
	width: 65%; 
}

.last-update--fees {
	background-color: var(--blue-soft-color);
}

.exchange__button {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	max-width: 20px;
	height: 50px;
	width: 100%;
}

.exchange__button--left {
	background-image: url(./assets/icons/right-arrow.svg);
	align-self: center;
}

/*** Product section Styles ***/
.product {
	background-color: var(--secundary-color);
	height: 910px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.product__img {
	background-image: url(./assets/icons/batata.svg);
	height: 20px;
	width: 25px;
	/* position: absolute;
	left: calc(50% - 115px);
	top: calc(100% - 24px); */
}

.title--product {
	color: var(--light-color);
}

.subtile--product {
	color: #808080;
}

.card {
	background-color: var(--secundary-soft-color);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 5px auto;
	padding: 20px;
	height: 152px;
	width: 288px;
}

.card__icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	margin-right: 10px;
	height: 35px;
	width: 35px;
}

.card__title-container {
	display: flex;
	align-items: center;
}

.card__title {
	color: var(--light-color);
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.8rem;
}

.card__info {
	color: var(--grey-color);
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.4rem;
}

.time-icon {
	background-image: url(./assets/icons/clock.svg);
}

.eye-icon {
	background-image: url(./assets/icons/eye.svg);
}

.money-icon {
	background-image: url(./assets/icons/dollar-sign.svg);
}

.check-icon {
	background-image: url(./assets/icons/check-circle.svg);
}